*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-family: 'Montserrat';
}
section{
    background: radial-gradient(circle, rgba(255,229,201,1) 0%, rgba(255,124,68,1) 100%);
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    width: 90%;
    max-width: 400px;
    background-color: #fc6723;
    border-radius: 10px;
    overflow: hidden;
}
.display{
    background-color: rgb(223, 223, 223);
    height: 120px;
    width: 100%;
    text-align: right;
    padding: 20px;
    font-size: 30px;
    position: relative;
}
.display-1{
    opacity: .4;
    font-size: 20px;
    height: 20px;
    overflow: hidden;
}
.temp-result{
    position: absolute;
    bottom: 0;
    left: 10;
    font-size: 20px;
    opacity: .4;
}
.all_buttons{
    color: whitesmoke;
    display: grid;
    grid-template: repeat(4, 1fr) / repeat(4, 1fr);
}
.button{
    border: .5px solid rgba(92, 92, 92, 0.137);
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    cursor: pointer;
}
.button:hover{
    background-color: rgba(30, 43, 46);
}
.btn-0{
    grid-column: 1/3;
}